/*--------------------------------------
This file contains all typographic styles
in use throughout the AppCivist Sass files

TABLE OF CONTENTS
1.0 GENERAL
2.0 HEADINGS
3.0 BODY TEXT
4.0 LISTS
5.0 INLINE STYLES
6.0 ALERTS
/--------------------------------------*/


// 1.0 GENERAL
body {
  font-family: $typography__base_font;
  font-size: $typography__body;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


// 3.0 BODY TEXT

blockquote {
  font-size: $typography__headline;
  font-style: italic;
}

// time {
//   font-size: $typography__subhead;
// }

figcaption {
  font-size: $typography__small;
  font-style: italic;
}

// 4.0 LISTS

// 5.0 INLINE STYLES

// 6.0 BRAND AND NAV

.logo {
  h1{
    margin-bottom: ms(-6);
    span {
      font-weight: 100;
      margin-top: ms(-6);
    }
  }
  h3 {
    font-weight: 100;
  }
}
