%card {

  transition-property: width, height, margin, left, top;
  transition-duration: .325s;
  transition-timing-function: ease-out;

  padding: 0.25 * $padding__base;

  .card__wrapper {

    @extend %card__shadow;
    transition-property: box-shadow;
    transition-duration: 0.25;
    transition-timing-function: ease-out;
    position: relative;
  }

  .title_block {

    @extend %clearfix;
    position: relative;

    .heading--headline {
      float: left;
      font-size: $typography__headline;
      font-weight: normal;
      margin-bottom: 0.5 * $padding__base;
    }

    .heading__working_group {
      font-size: 0.875em;
    }

    .card__heading_actions {
      position: absolute;
      top: -1.75em;
      right: -1em;
      .contextual_menu {
        @extend %contextual_menu;
        &.active .content {
          right: -1.125em !important;
        }
      }
    }
  }

  .card__header {

    padding: $padding__base;
    padding-bottom: 0.5 * $padding__base;
    color: $color__text--reverse;
    position: relative;

    .heading--category {
      font-size: $typography__tiny;
    }

    a {
      color: $color__text--reverse;
    }

    .card__heading_actions {
      @extend %card__actions;
    }
  }

  .card__body {
    padding: $padding__base;
    font-size: $typography__subhead;
    overflow: hidden;
  }

  &:hover {
    .card__wrapper {
      @extend %card__shadow--darker;
    }
    .card__heading_actions {
      @extend %card__actions--visible;
    }
  }

  &--selected {
    @extend %card--selected;
  }
}

%card--selected {
  @extend %card;
  .card__body,
  .card__header {
    background-color: $color__brand-dark;
    color: $color__text--reverse;
  }
}
