%card__actions {

  .actions {
    li {
      float: left;
      margin-right: .5em;
    }
  }

  a {
    .icon {
      fill: $color__text--reverse;
    }
    &.active,
    &:focus,
    &:hover {
      .icon {
        fill: $color__brand-dark;
      }
    }
  }

  &.reveal_actions {
    @extend %card__actions--visible;
  }

  // desktop, although some touch detection and js class maybe a good idea eventually.
  @extend %offscreen--min_md;

}

%card__actions--visible {
  overflow: visible;
  width: auto;
  height: auto;
  left: auto;
  white-space: normal;
}
