%card__proposal {

  @extend %card;

  // https://github.com/Snugug/eq.js
  div[data-eq-state $= 'small'] & {
    @include gallery(6 of 12);
  }
  div[data-eq-state $= 'medium'] & {
    @include gallery(4 of 12);
  }
  div[data-eq-state $= 'large'] & {
    @include gallery(3 of 12);
  }

  .card__header {
    background-color: $color__brand_primary;
  }

  .excerpt {
    margin-bottom: 0.5 * $padding__base;
  }

}

.card__proposal {
  @extend %card__proposal;
  &--selected {
    @extend %card;
    @extend %card--selected;
    .card__header {
      background-color: $color__brand-dark;
    }
  }
}
