%card {

  transition-property: width, height, margin, left, top;
  transition-duration: 0.325s;
  transition-timing-function: ease-out;

  padding: 0.25 * $padding__base;

  .card__wrapper {

    @extend %card__shadow;
    transition-property: box-shadow;
    transition-duration: 0.25;
    transition-timing-function: ease-out;
    position: relative;
  }

  .title_block {

    @extend %clearfix;
    position: relative;

    .heading--headline {
      @extend %clearfix;
      float: left;
      font-size: $typography__headline;
      font-weight: normal;
      margin-bottom: 0.5 * $padding__base;
    }

    .heading__working_group {
      @extend %clearfix;
      font-size: 0.875em;
    }

    .card__heading_actions {
      position: absolute;
      top: -0.75em;
      left: auto;
      right: -1em;
      .contextual_menu {
        @extend %contextual_menu;
        &.active .content {
          right: -1.125em !important;
        }
      }
    }
  }

  .card__header {

    @extend %clearfix;

    padding: $padding__base;
    padding-bottom: 0.5 * $padding__base;
    color: $color__text--reverse;
    position: relative;

    .heading--categories {
      font-size: $typography__tiny;
      div {
        display: inline-block;
        &::after {
          display: inline-block;
          content: ", ";
        }
        &:last-child::after {
          display: none;
          content: none;
        }
      }
    }

    a {
      color: $color__text--reverse;
    }

  }

  .card__heading_actions {
    @extend %card__actions;
  }

  .card__body {
    padding: $padding__base;
    font-size: $typography__subhead;
  }

  &:hover {
    .card__wrapper {
      @extend %card__shadow--darker;
    }
    .card__heading_actions {
      @extend %card__actions--visible;
    }
  }

  .voting_mechanism {
    position: relative;
    left: -0.875em;
  }

}

%card--selected {
  @extend %card;
  .card__body,
  .card__header {
    background-color: $color__brand-dark;
    color: $color__text--reverse;
  }
}
