%page__header {

  background-color: $color__brand-primary;
  color: #fff;

  padding: 1.5 * $padding__base;

  .heading--header {
    color: $color__brand-dark;
  }

  .heading--title {
    font-size: $typography__title;
    font-weight: 200;
  }

  p {
    max-width: 52em;
  }

  a {
    color: $color__text--reverse;
    text-decoration: underline;
  }

  .attribution {

    margin-bottom: 1em;

    .heading--subheader {
      display: inline-block;
      margin: 0;
      margin-right: 0.5em;
    }

    .user__card {
      display: inline-block;
    }

    a {
      text-decoration: none;
    }
  }
}

.page__header {
  @extend %page__header;
}
