%page__header {

  position: relative;

  background-color: $color__brand-primary;
  background-image: url('../images/vallejo_header.jpg');
  background-size: cover;
  color: #fff;

  padding: 1.5 * $padding__base;

  .title_block {

    display: inline-block;

    @extend %clearfix;
    position: relative;
    clear: both;

    .heading--title {
      float: left;
    }

    .heading_actions {
      float: right;
      position: relative;
      left: 2em;
      top: 0.75em;

      .contextual_menu {
        @extend %contextual_menu;
      }

      .icon {
        fill: $color__white;
      }

      a:hover .icon,
      &.reveal_actions .icon {
        fill: $color__brand-dark;
      }
    }

  }

  .heading--header {
    color: $color__brand-dark;
  }

  .heading--title {
    font-size: $typography__title;
    font-weight: 300;
  }

  p {
    max-width: 52em;
  }

  a {
    color: $color__text--reverse;
    text-decoration: underline;
  }

  .attribution {

    margin-bottom: 1em;

    .heading--subheader {
      display: inline-block;
      margin: 0;
      margin-right: 0.5em;
    }

    .user__card {
      display: inline-block;
    }

    a {
      text-decoration: none;
    }
  }

  .voting_mechanism {

    a {
      font-size: 1.5em;
    }

    display: inline-block;
    vertical-align: bottom;

    @media (min-width: $bp__md) {
      a {
        font-size: 1.25em;
      }
    }
  }

  .temperature_check {

      background-color: #fff;
      display: inline-block;
      padding: 0.25em 0.5em;

      a {
        color: $color__brand-dark;
        text-decoration: none;
        &:hover {}
      }

      li:last-child {
        margin-right: 0;
      }
  }

  .tags {

    li {

      display: inline-block;
      background: transparent;
      margin-left: 0.25em;

      div {
        display: inline-block
      }

      &:first-child {
        margin-left: 0;
      }

      &::after {
        content: ", ";
        display: inline-block;
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  .description {
    margin-top: 1.5em;
    font-size: 1.5em;
    line-height: 1.2;
    max-width: 40em;
  }

  .proposal__single & {
    padding-bottom: 0;
  }
}

.page__header {
  @extend %page__header;
}
