%page__header {

  position: relative;

  background-color: $color__brand-primary;
  color: #fff;

  padding: 1.5 * $padding__base;

  .title_block {

    display: inline-block;

    @extend %clearfix;
    position: relative;
    clear: both;

    .heading--title {
      float: left;
    }

    .heading_actions {
      float: right;
      position: relative;
      left: 2em;
      top: 0.75em;

      .contextual_menu {
        @extend %contextual_menu;
      }

      .icon {
        fill: $color__white;
      }

      a:hover .icon,
      &.reveal_actions .icon {
        fill: $color__brand-dark;
      }
    }

  }

  .heading--header {
    color: $color__brand-dark;
  }

  .heading--title {
    font-size: $typography__title;
    font-weight: 200;
  }

  p {
    max-width: 52em;
  }

  a {
    color: $color__text--reverse;
    text-decoration: underline;
  }

  .attribution {

    margin-bottom: 1em;

    .heading--subheader {
      display: inline-block;
      margin: 0;
      margin-right: 0.5em;
    }

    .user__card {
      display: inline-block;
    }

    a {
      text-decoration: none;
    }
  }
}

.page__header {
  @extend %page__header;
}
