%temperature_check {

  li {
    display: inline-block;
    margin-right: .5em;
    position: relative;
  }

  a {

    @extend .fa;

    &.thumbs-up {
      @extend .fa-thumbs-up;
    }

    &.thumbs-down {
      @extend .fa-thumbs-down;
    }
  }
}

.temperature_check {
  @extend %temperature_check;
}
