<div class="card__idea">
  <div class="card__wrapper">
    <header class="card__header">
      <div class="card__heading_bookmark">
        <i class="fa fa-bookmark"></i>
      </div>
      <div class="heading--categories">
        {{> molecules-tags-proposal-card}}
      </div>
      <div class="title_block">
        <h1 class="heading--headline">
          <a href="{{link.templates-single-proposal}}">{{ title.short }}</a>
        </h1>
        <div class="card__heading_actions">
          <ul class="actions">
            <li class="action__toggle_selection"><a href="#">{{> atoms-icon-selection-toggle }}</a></li>
            <li class="action__contextual_menu"><a href="#">{{> atoms-icon-cog }}</a></li>
          </ul>
          <div class="contextual_menu">
            <div class="content">
              {{> molecules-proposals-menu }}
            </div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="voting_mechanism">
          {{> molecules-temperature-check}}
        </div>
      </div>
    </header>
  </div>
</div>
