<div class="card__proposal">
  <div class="card__wrapper">
    <header class="card__header excluded">
      <div class="card__heading_bookmark">
        <i class="fa fa-bookmark"></i>
      </div>
      <div class="heading--categories">
        EXCLUDED - {{> molecules-tags-proposal-card}}
      </div>
      <div class="title_block">
        <h1 class="heading--headline">
          <a href="{{link.templates-single-proposal}}">{{ title.short }}</a>
        </h1>
        <div class="card__heading_actions">
          <ul class="actions">
            <li class="action__toggle_selection"><a href="#">{{> atoms-icon-selection-toggle }}</a></li>
            <li class="action__contextual_menu"><a href="#">{{> atoms-icon-cog }}</a></li>
          </ul>
          <div class="contextual_menu">
            <div class="content">
              {{> molecules-proposals-menu }}
            </div>
          </div>
        </div>
      </div>
      <div class="heading__working_group">
        <i class="fa fa-group"></i> <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a>
      </div>
    </header>
    <div class="card__body">
      <div class="excerpt">
        {{ excerpt.short }}
      </div>
      <div class="voting_mechanism">
        {{# voting_mechanism.consensus}}
          {{> molecules-consensus}}
        {{/ voting_mechanism.consensus}}

        {{# voting_mechanism.temperature_check}}
          {{> molecules-temperature-check}}
        {{/voting_mechanism.temperature_check}}
      </div>
    </div>
  </div>
</div>
