<div class="proposal__card">
  <div class="card__wrapper">
    <header class="card__header">
      <p class="heading--category">{{tag.title}}</p>
      <h1 class="heading--headline">
        <a href="{{ link.templates-single-proposal }}">
          {{ title.short }}
        </a>
      </h1>
      <p class="heading--attribution">
        By <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a>
      </p>
      <div class="card__heading_actions">
        <ul>
          <li class="action__toggle_selection">{{> atoms-icon-selection-toggle }}</li>
          <li class="action__contextual_menu">{{> atoms-icon-cog }}</li>
        </ul>
      </div>
    </header>
    <div class="card__body">
      {{ excerpt.short }}
      {{> molecules-voting-consensus-module }}
      <div class="card__contextual_menu">
        <ul>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Publish</a></li>
          <li><a href="#">Give Feedback</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">See history</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
