<div class="user__card person">
	<a href="{{ link.template-member-profile }}">
    <figure class="photo">{{> atoms-avatar }}</figure>
    <div class="fn">{{ name.first }} {{ name.last }}</div>
  </a>
  <a class="menu__contextual" href="#">{{> atoms-icon-more}}</a>
  <ul class="action__menu">
      <li><a href="#">Message this user</a></li>
      <li><a href="#">Remove this user</a></li>
  </ul>
</div>
