// these are here as mixins so they can be used inside media queries

@mixin onscreen {
  position: static;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  white-space: normal;
  z-index: 1;
  opacity: 1;
}

@mixin offscreen {
	position: absolute;
	left: -10000px;
  z-index: -1;
  opacity: 0;
	white-space: nowrap;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
