{{> molecules-navigation }}

<main class="appmain">

	<article class="campaign">

		<header class="page__header">
		  <div class="heading--header">Campaign</div>
		  <h1 class="heading--title">Participatory Budgeting - Cycle 4</h1>
		  <p>It's that time again - the City is collecting ideas for the fourth cycle of Participatory Budgeting (PB) in Vallejo. Share your ideas on how you want to use Measure B tax dollars to make Vallejo even better.</p>
		</header>

		<section class="campaign__status">
			<h2 class="heading--header">Campaign Status</h2>
			{{> molecules-timeline}}
		</section>

	  <section class="campaign__filters">
			{{> molecules-campaign-search}}
			{{> molecules-campaign-filters}}
			{{> molecules-campaign-sort}}
		</section>

		<div class="campaign_cards">

	    <section class="list--proposals">

				<header class="proposals__header">
					<h2 class="heading--header">Proposals</h2>
					<a class="proposals__see_all" href="{{link.templates-all-proposals-view}}">See All</a>
					<a class="proposals__add_new" href="#">Add New</a>
					<a class="proposals__show_ideas" href="#">Show Ideas</a>

					<div class="form__add_proposal">
						{{>organisms-modal-add-proposal}}
					</div>
				</header>

				<div class="list__cards container__proposals">
		      {{# listItems.four }}
		        {{> molecules-card-proposal}}
		      {{/ listItems.four }}
		      {{# listItems.seven }}
		        {{> molecules-card-proposal}}
		      {{/ listItems.seven }}
				</div>

	    </section>

			<section class="list--ideas">

				<header class="ideas__header">
					<h2 class="heading--header">Ideas</h2>
					<a class="ideas__see_all" href="{{link.templates-all-proposals-view}}">See All</a>
					<a class="ideas__add_new" href="#">Add New</a>
					<a class="ideas__hide_ideas" href="#">Hide Ideas</a>

					<div class="form__add_idea">
						{{>organisms-modal-add-idea}}
					</div>

				</header>

				<div class="list__cards container__ideas">
					{{# listItems.seven}}
			    {{> molecules-card-idea}}
			    {{/ listItems.seven}}
					{{# listItems.four}}
			    {{> molecules-card-idea}}
			    {{/ listItems.four}}
				</div>

			</section>
		</div>
	</article>

	{{> organisms-comment-section}}

</main>

{{> organisms-footer }}
