<main class="appmain">

	{{> molecules-navigation}}

	<article class="campaign">

		<header class="page__header">

		  <div class="type">Campaign</div>

			<div class="title_block">

				<h1 class="heading--title">Participatory Budgeting - Cycle 4</h1>

				<div class="heading_actions">
	        <ul>
	          <li class="action__contextual_menu"><a href="#">{{> atoms-icon-cog }}</a></li>
	        </ul>
					<div class="contextual_menu">
			      <div class="content">
			        <ul>
								<li class="action__edit"><a href="#">Edit</a></li>
                <li class="action__publish"><a href="#">Publish</a></li>
                <li class="action__feedback"><a href="#">Give Feedback</a></li>
                <li class="action__exclude"><a href="#">Exclude</a></li>
                <li class="action__history"><a href="#">See history</a></li>
			        </ul>
			      </div>
			    </div>
	      </div>
			</div>

			<p class="description">It's that time again - the City is collecting ideas for the fourth cycle of Participatory Budgeting (PB) in Vallejo. Share your ideas on how you want to use Measure B tax dollars to make Vallejo even better.</p>



		</header>

		<section class="campaign__status">
			<h2 class="heading--header">Campaign Status</h2>
			{{> molecules-timeline}}
		</section>

		{{> organisms-proposals-and-ideas}}

		{{> organisms-comment-section}}

	</article>

	<div class="history-modal" style="display: none">
		{{>organisms-contribution-history}}
	</div>

	{{> organisms-footer }}

</main>
