<main class="appmain">

  {{> molecules-navigation-anonymous }}

	<article class="campaign">

		<header class="page__header">
	    <p class="heading--header">Campaign</p>
	    <h1 class="heading--title">Participatory Budgeting - Cycle 4</h1>
			<p class="heading--subheader">In the <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a> working group</p>
	    <p class="description">It's that time again - the City is collecting ideas for the fourth cycle of Participatory Budgeting (PB) in Vallejo. Share your ideas on how you want to use Measure B tax dollars to make Vallejo even better.</p>

			<div class="attribution">
				<p class="heading--subheader">Created by</p>
				{{# listItems.one }}{{> molecules-user-card }}{{/ listItems.one }}
			</div>

	    {{> molecules-tags }}

		  <div class="actions__bar">
		    {{> molecules-temperature-check }}
		    <div class="action-button">
					{{> atoms-icon-more}}
		      <ul class="action-menu">
	          <li><a href="#">Edit</a></li>
	          <li><a href="#">Exclude</a></li>
	          <li><a href="#">Archive</a></li>
		      </ul>
		    </div>
	    </div>
		</header>

		<section class="panel">
			<h1 class="heading--header">Campaigns Status</h1>
			{{> molecules-timeline }}
		</section>

		{{> organisms-proposals-and-ideas}}

		{{> organisms-comment-section}}

	</article>

  {{> organisms-anonymous-footer }}

</main>
