<main class="appmain">

	{{> molecules-navigation}}

	<article class="proposal__single">

		<header class="page__header">

	    <div class="type">Proposal <span class="status">— Published</span></div>

			<div class="title_block">

			  <h1 class="heading--title">{{ title.short }}</h1>

				<div class="heading_actions">
					<ul class="actions">
						<li class="action__contextual_menu"><a href="#">{{> atoms-icon-cog }}</a></li>
					</ul>

					<div class="contextual_menu">
			      <div class="content">
			        <ul>
								<li class="action__edit"><a href="#">Edit</a></li>
                <li class="action__publish"><a href="#">Publish</a></li>
                <li class="action__feedback"><a href="#">Give Feedback</a></li>
                <li class="action__exclude"><a href="#">Exclude</a></li>
                <li class="action__history"><a href="#">See history</a></li>
			        </ul>
			      </div>
			    </div>

				</div>
			</div>

			<p class="parent_working_group"><i class="fa fa-group"></i> <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a></p>

			{{> molecules-tags }}

			<div class="attribution">
				<p class="heading--subheader">Created by</p>
				{{# listItems.one }}{{> molecules-user-card }}{{/ listItems.one }}
			</div>

	    <p class="description">{{ excerpt.short }}</p>

			{{> molecules-voting-module}}

		</header>

		<section class="etherpad__embed text-created-attachments-similar">
		  <section class="temp-array proposal-text">
				<div class="panel__heading">
			    <h2 class="heading--header">Proposal Text</h2>
				</div>
				<div class="etherpad__wrapper">
					<iframe name="embed_readwrite"
		              src="https://etherpad.appcivist.org/p/example_pad?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false"
		              width="100%"
		              height=600>
					</iframe>
				</div>
		  </section>
		</section>

	  <section class="attachments tex-created-attachments-similar">
	    <section class="temp-array created-attachments-similar">
				<div class="file_attachments">
        	<div class="panel-heading">
          	<h2 class="heading--header">Attachments</h2>
						<div class="heading--small">
							<a href="#"><i class="fa fa-paperclip"></i>&nbsp;Add a new file</a>
						</div>
					</div>
        </div>
				{{> molecules-file-card }}
				{{> molecules-file-card }}
				{{> molecules-file-card }}
			</section>
	  </section>

		<section class="similar_proposals">
			<h2 class="heading--header">Similar Proposals</h2>
			{{# listItems.three }}
				{{> atoms-definition-list-item }}
			{{/ listItems.three }}
		</section>

		{{> organisms-comment-section}}

	</article>

	<div class="history-modal" style="display: none">
		{{>organisms-contribution-history}}
	</div>

	{{> organisms-footer }}

</main>
