{{> molecules-navigation }}
<main class="appmain">

	<article class="proposal__single">

		<header class="page__header">
	    <p class="heading--header">Proposal</p>
	    <h1 class="heading--title">{{ title.short }}</h1>
	    <p>{{ excerpt.short }}</p>

	    <p class="heading--subheader">In the <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a> working group</p>

			<div class="attribution">
				<p class="heading--subheader">Created by</p>
				{{# listItems.one }}{{> molecules-user-card }}{{/ listItems.one }}
			</div>

	    {{> molecules-tags }}

		  <div class="actions__bar">
		    {{> molecules-voting-module }}
		    <div class="action-button">
		      <input id="menu04" type="checkbox" name="menu" />
					{{> atoms-icon-more}}
		      <ul class="action-menu">
	          <li><a href="#">Edit</a></li>
	          <li><a href="#">Exclude</a></li>
	          <li><a href="#">Archive</a></li>
		      </ul>
		    </div>
	    </div>
		</header>


		<section class="proposal__status">
			<h2 class="heading--header">Proposal Status</h2>
			{{> molecules-idea-timeline }}
		</section>

		<section class="etherpad__embed text-created-attachments-similar">
		  <section class="temp-array proposal-text">
				<div class="panel__heading">
			    <h2 class="heading--header">Proposal Text</h2>
				</div>
				<div class="etherpad__wrapper">
					<iframe name="embed_readwrite"
		              src="http://etherpad.littlemacondo.com/p/example_pad?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false"
		              width="100%"
		              height=600>
					</iframe>
				</div>
		  </section>
		</section>

	  <section class="attachments tex-created-attachments-similar">

	    <section class="temp-array created-attachments-similar">
				<div class="file_attachments">
        	<div class="panel-heading">
          	<h2 class="heading--header">Attachments</h2>
						<div class="heading--small">
							<a href="#"><i class="fa fa-paperclip"></i>&nbsp;Add a new file</a>
						</div>
					</div>
        </div>
				{{> molecules-file-card }}
				{{> molecules-file-card }}
				{{> molecules-file-card }}
			</section>
			<section class="similar_proposals">
				<h2 class="heading--header">Similar Proposals</h2>
	      {{# listItems.three }}
	        {{> atoms-definition-list-item }}
	      {{/ listItems.three }}
	    </section>
	  </section>

		{{> organisms-comment-section}}

	</article>
</main>
{{> organisms-footer }}
