<main class="appmain">

	{{> molecules-navigation}}

	<article class="all_proposals">

		<header class="page__header">
			<h1 class="heading--title">All Proposals</h1>
			<div class="heading--header">in the <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a> Working Group.</div>
		</header>

		<div class="page__content">

			<section class="panel">
				{{> molecules-pagination }}
			</section>

			<section class="list--idea all-proposals">
					{{# listItems.ten }}
			    {{> molecules-card-proposal }}
			    {{/ listItems.ten }}
					{{# listItems.ten }}
			    {{> molecules-card-proposal }}
			    {{/ listItems.ten }}
					{{# listItems.ten }}
			    {{> molecules-card-proposal }}
			    {{/ listItems.ten }}
					{{# listItems.ten }}
			    {{> molecules-card-proposal }}
			    {{/ listItems.ten }}
					{{# listItems.ten }}
			    {{> molecules-card-proposal }}
			    {{/ listItems.ten }}
					{{# listItems.ten }}
			    {{> molecules-card-proposal }}
			    {{/ listItems.ten }}
			</section>

			<section class="panel">
				{{> molecules-pagination }}
			</section>
		</div>
	</article>

	{{> organisms-footer }}

</main>
