<main class="appmain">

  {{> molecules-navigation}}

    <article class="all_proposals">

        <header class="page__header">
            <h1 class="heading--title">All Proposals</h1>

            <div class="heading--header">
                <a href="{{ link.templates-working-group-dashboard }}"><i class="fa fa-group"></i> {{ group.name }}</a>
            </div>
        </header>

        <div class="page__content">

            <section class="panel">
              {{> molecules-pagination }}
            </section>

            <section class="list--proposals">

                <div class="list__cards container__proposals" data-eq-pts="small: 768, medium: 1024, large: 1500">
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                  {{> molecules-card-proposal}}
                </div>

            </section>


            <section class="panel">
              {{> molecules-pagination }}
            </section>
        </div>
    </article>

  {{> organisms-footer }}

</main>
