<main class="appmain">

	{{> molecules-navigation}}

	<article class="all_members">

		<header class="page__header">
			<div class="heading--header">All Members</div>
			<h1 class="heading--title">Quality of Life</h1>
			<div class="heading--header">in the <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a> Working Group.</div>
			<div class="heading--small"><a href="#">Add a new member</a></div>
		</header>

		<div class="page__contents">

			<section class="panel">
				{{> molecules-pagination }}
			</section>
			<section class="all-member-list">
					{{# listItems.nine }}
					{{> molecules-user-card }}
					{{/ listItems.nine }}
					{{# listItems.nine }}
					{{> molecules-user-card }}
					{{/ listItems.nine }}
			</section>
			<section class="panel">
				{{> molecules-pagination }}
			</section>

		</div>

	</article>

	{{> organisms-footer }}

</main>
