<main class="appmain">

	{{> molecules-navigation}}

	<article class="all_members">

		<header class="page__header">
			<h1 class="heading--title">All Ideas</h1>
			<div class="heading--header">in the <a href="{{ link.templates-working-group-dashboard }}">{{ group.name }}</a> Working Group.</div>
			<div class="heading--small"><a href="#">Add a new idea</a></div>
		</header>

		<div class="page__contents">

			<section class="panel">
				{{> molecules-pagination }}
			</section>

			<section class="panel">
				<section class="list--idea all-ideas">
		      {{# listItems.ten }}
		      {{> molecules-card-idea }}
		      {{/ listItems.ten }}
		      {{# listItems.ten }}
		      {{> molecules-card-idea }}
		      {{/ listItems.ten }}
		      {{# listItems.ten }}
		      {{> molecules-card-idea }}
		      {{/ listItems.ten }}
		      {{# listItems.ten }}
		      {{> molecules-card-idea }}
		      {{/ listItems.ten }}
		      {{# listItems.ten }}
		      {{> molecules-card-idea }}
		      {{/ listItems.ten }}
				</section>
			</section>
			<section class="panel">
				{{> molecules-pagination }}
			</section>
		</div>

	</article>
</main>
{{> organisms-footer }}
