<main class="appmain anonymous">

	{{> molecules-navigation-anonymous }}

	<article clas="working_group">

		<header class="page__header">
			<div class="heading--header">Working Group</div>
			<h1 class="heading--title">Quality of Life</h1>
			<p>This is the working group dedicated to looking out for the general wellbeing of our citizens.</p>
		</header>

		<div class="page__contents">
			<section class="panel activity-and-members">
				<section class="latest-activity">
					<div class="panel-heading">
						<h1 class="heading--header">Latest Activity</h1><p class="heading--small"><a href="{{ link.templates-all-proposals-view }}">See All</a></p>
					</div>
					{{# listItems.ten }}
					{{> atoms-activity-stream-list-item }}
					{{/ listItems.ten }}
				</section>
				<section class="members-list">
					<div class="panel-heading">
						<h1 class="heading--header">Members</h1><p class="heading--small"><a href="{{ link.templates-all-proposals-view }}">See All</a></p>
					</div>
					{{# listItems.nine }}
					{{> molecules-user-card }}
					{{/ listItems.nine }}
				</section>
			</section>
		</div>

		{{> organisms-proposals-and-ideas}}

		{{> organisms-comment-section}}

	</article>

	{{> organisms-anonymous-footer }}

</main>
