{{> molecules-navigation}}

<main class="appmain">

	<header class="page__header">
		<div class="heading--header">Hello, </div>
		<h1 class="heading--title">{{ name.first }}</h1>
	</header>

	<div class="page__content">
    <h2 class="heading--headline">Notifications &amp; Recent Activity</h2>
    <div class="card">
			{{# listItems.three }}
			{{> molecules-activity-stream }}
			{{/ listItems.three }}
		</div>
    <h2 class="heading--headline">My Proposals</h2>
    {{> molecules-card-proposal }}
    <h2 class="heading--headline">My Ideas</h2>
		<div class="card">
			{{> atoms-definition-list-item }}
		</div>
	</div>
</main>
