<div class="temperature_check">
	<ul class="votes">
		<li class="upvote" data-votecount="72">
			<a class="thumbs-up" href="#"><span class="screen-reader-only">Upvote</span></a>
		</li>
		<li class="downvote" data-votecount="34">
			<a class="thumbs-down" href="#"><span class="screen-reader-only">Downvote</span></a>
		</li>
	</ul>

	<div class="informal_score positive">
		<em>32</em>
	</div>

</div>
