<div class="consensus_widget" style="position: relative;">

	<ul class="options">
		<li class="vote-button upvote">
			<a class="heading--small" href="#">
	      <i class="fa fa-thumbs-up"></i>
	    </a>
		</li>
	  <li class="vote-button middle">
	    <a class="heading--small" href="#">
	      <i class="fa fa-circle-o"></i>
	    </a>
	  </li>
	  <li class="vote-button middle">
	    <a class="heading--small" href="#">
	      <i class="fa fa-ban"></i>
	    </a>
	  </li>
		<li class="vote-button downvote">
			<a class="heading--small" href="#">
	      <i class="fa fa-thumbs-down"></i>
	    </a>
		</li>
	</ul>

	<div class="popover_template">
		{{> molecules-consensus-results}}
	</div>

</div>
