<div class="comments__comment_form">
	<form method="post" action="{{url}}" class="comment-form">
		<fieldset>
			<div class="comment-meta">
				{{> molecules-user-card }}
			</div>
			<div class="field-container">
				<textarea id="comment-field" rows="5" placeholder="Write you comment here"></textarea>
			</div>
			<input class="button" type='submit' value='Submit' />
		</fieldset>
	</form>
</div>
