<div class="modal_content__add_proposal">

  <header class="modal-header">
    <div class="heading--header">Add Proposal</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="sr-only">Close Modal;</span></button>
  </header>

  <div class="modal-body">
    <fieldset>

      <div class="field__container">
        <label for="add_proposal__title">Title <abbr title="Required">*</abbr></label>
        <input id="add_proposal__title" type="text" placeholder="Proposal Title">
      </div>

      <div class="field__container">
        <label for="textarea">Description</label>
        <textarea id="add_proposal__description" rows="8" cols="48" placeholder="Proposal Description"></textarea>
      </div>

      {{>molecules-campaign-filters}}

      <div class="field__container">
        <label for="add_proposal__source_code">Title</label>
        <input id="add_proposal__source_code" type="text" placeholder="Proposal Source Code">
      </div>

    </fieldset>
  </div>
</div>
