<div id="modal__add_cardlist_fillters" class="modal" tabindex="-1" role="dialog">
  <!-- modal-container is here for vertically centering -->
  <div class="modal-container">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <header class="modal-header">
          <div class="heading--header">Select Filters</div>
          <p>Select themes to filter the listing…</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="sr-only">Close Modal;</span></button>
        </header>

        <div class="modal-body">


          <fieldset>

              <div class="field__container">

                <label for="add_proposal__title">Title <abbr title="Required">*</abbr></label>
                <input id="add_proposal__title" type="text" placeholder="Proposal Title">


              </div>



          </fieldset>



        </div>

      </div>
    </div>
  </div>
</div>
