<div class="modal_content__contribution_history">

  <header class="modal-header">
    <h2 class="modal__title">Contribution History</h2>
  </header>

  <div class="modal-body">

    <div class="contribution content">
      <header class="type_and_date">
        <div class="type_icon" aria-hidden></div>
        <time><span class="date">July 19</span><span class="year">2016</span></time>
      </header>
      <div class="contribution_details">
        <span class="what_happened">
          New <a href="#"><em><i class="fa fa-lightbulb-o"></i> idea</em></a> created
        </span>
        <span class="contribution_description">
          <a href="#">We need a community garden</a>
        </span>
      </div>
    </div>

    <div class="contribution content">
      <header class="type_and_date">
        <div class="type_icon" aria-hidden></div>
        <time><span class="date">July 19</span><span class="year">2016</span></time>
      </header>
      <div class="contribution_details">
        <span class="what_happened">
          <a href="#"><em><i class="fa fa-lightbulb-o"></i> Idea</em></a> title “We need a community garden…” was updated to:
        </span>
        <span class="contribution_description">
        <a href="#">  We need a community garden in Carquinez Heights</a>
        </span>
      </div>
    </div>

    <div class="contribution add">
      <header class="type_and_date">
        <div class="type_icon" aria-hidden></div>
        <time><span class="date">July 19</span><span class="year">2016</span></time>
      </header>
      <div class="contribution_details">
        <span class="what_happened">
          New <a href="#"><i class="fa fa-person"></i> author, Cristhian Parra</a></em> was added to:
        </span>
        <span class="contribution_description">
          <a href="#">We need a community garden in Carquinez Heights</a>
        </span>
      </div>
    </div>

    <div class="contribution add">
      <header class="type_and_date">
        <div class="type_icon" aria-hidden></div>
        <time><span class="date">July 19</span><span class="year">2016</span></time>
      </header>
      <div class="contribution_details">
        <span class="what_happened">
          New attachment in <a href="#"><em><i class="fa fa-lightbulb-o"></i> Idea</em></a> "We need a community garden in Carquinez Heights"</a>
        </span>
        <span class="contribution_description">
          <div class="attachment">
            <a href="#">A reasonably Long Filename.pdf</a>
          </div>
        </span>
      </div>
    </div>

    <div class="contribution association">
      <header class="type_and_date">
        <div class="type_icon" aria-hidden></div>
        <time><span class="date">July 19</span><span class="year">2016</span></time>
      </header>
      <div class="contribution_details">
        <span class="what_happened">
          <a href="#"><em><i class="fa fa-lightbulb-o"></i> Idea</em></a> was assigned to <a><em><i class="fa fa-group"></i> working group</em></a>
        </span>
        <span class="contribution_description">
          <a href="#">Parks and Recreation Committee</a>
        </span>
      </div>
    </div>
  </div>
</div>
