<ul>
  <li class="action__edit"><a href="#">Edit</a></li>
  <li class="action__publish"><a href="#">Publish</a></li>
  <li class="action__feedback"><a href="#">Give Feedback</a></li>
  <li class="action__feedback"><a href="#">View Feedback</a></li>
  <li class="action__exclude"><a href="#">Exclude</a></li>
  <li class="action__history"><a href="#">See history</a></li>
</ul>
