<ul>
  <li class="action__edit"><a href="#">Edit</a></li>
  <li class="action__startvoting"><a href="#">Start Voting</a></li>
  <li class="action__feedback">
    <a href="{{ link.templates-working-group-consensus-results-dashboard }}">Finish Voting</a>
  </li>
  <li class="action__feedback"><a href="#">View Voting results</a></li>
  <li class="action__feedback"><a href="#">View Feedbacks</a></li>
</ul>
