<ul>
  <li class="action__edit"><a href="#">Edit</a></li>
  <li class="action__publish"><a href="#">Start Voting</a></li>
  <li class="action__feedback"><a href="#">Finish Voting</a></li>
  <li class="action__feedback"><a href="#">View Voting results</a></li>
  <li class="action__feedback"><a href="#">View Feedbacks</a></li>
</ul>
