<nav id="appcivist__nav" class="navigation {{nav.state}}">

	<div class="nav__container">

		<button class="button__nav_toggle">☰</button>


		<header itemprop="location" itemscope itemtype="http://schema.org/Place">
	    <h1>City of Vallejo</h1>
			<h2>Vallejo, CA</h2>
		</header>

		<div class="user">
			<div class="member-card">
				<figure>{{> atoms-avatar }}</figure>
				<h4><a href="{{ link.template-member-profile }}">{{ name.first }} {{ name.last }}</a>
				<span class="heading--subheader"><a href="{{ link.templates-member-dashboard }}">My Settings</a> | <a href="{{ link.templates-anonymous-homepage }}">Log Out</a></span></h4>
			</div>
		</div>

		<section class="my_working_groups">
			<h1 class="heading--header">My Working Groups</h1>
		  <ul class="list__my_working_groups">
				<li>
					<a href="{{ link.templates-working-group-dashboard }}">Quality of Life</a>
				</li>
				<li>
					<a href="{{ link.templates-working-group-dashboard }}">Public Safety and Infrastructure</a>
				</li>
		    <li>
		        <a href="{{ link.templates-working-group-dashboard }}">Program and Services</a>
		    </li>
		  </ul>
		</section>

		<section class="my_campaigns">
			<h1 class="heading--header">My Campaigns</h1>
			<ul class="nav__my_campaigns">
				<li>
					<a href="{{ link.templates-campaign-dashboard }}">Participatory Budgeting - Cycle 4</a>
				</li>
			</ul>
		</section>

		<footer class="nav__footer">
			{{>atoms-logo-svg}}
			<div class="powered_by">Powered by Appcivist</div>
		</footer>

	</div>

</nav>
