<nav id="appcivist__nav" class="navigation {{nav.state}}">

	<div class="nav__container">

		<button class="button__nav_toggle">☰</button>

		<header class="nav_header" itemprop="location" itemscope itemtype="http://schema.org/Place">
	    <h1>City of Vallejo</h1>
			<h2>Vallejo, CA</h2>
		</header>

		<div class="sign-up">
			<a href="#">Log in</a> or <a href="#">Sign Up</a>
		</div>

		{{> molecules-navigation-footer}}

	</div>

</nav>
