<nav id="appcivist__nav" class="navigation">

	<div class="nav__container">

		<button class="button__nav_toggle">☰</button>

		<header class="nav_header" itemprop="location" itemscope itemtype="http://schema.org/Place">
	    <h1>City of Vallejo</h1>
			<h2>Vallejo, CA</h2>
		</header>

		{{> molecules-login-signup}}

		{{> molecules-navigation-footer}}

	</div>

</nav>
