<div class="user__logged_in">
	<a class="avatar_link" href="{{ link.template-member-profile }}">
    <figure class="photo">{{> atoms-avatar }}</figure>
  </a>
  <div class="fn">{{ name.first }} {{ name.last }}</div>
  <div class="account__actions">
    <a href="{{ link.templates-member-dashboard }}">My Settings</a>
    <a href="{{ link.templates-anonymous-homepage }}">Log Out</a>
  </div>
</div>
