<div class="login_signup">
  <div class="account__actions">
    <a class="button" href="{{ link.templates-member-dashboard }}">Login</a>
    <a class="button" href="{{ link.templates-anonymous-homepage }}">Sign Up</a>
  </div>
</div>
