<section class="comments__section">

  <header class="panel-heading">
    <h2 class="heading--header">Conversations</h2>
    <div class="heading--small">
      <a href="#"><i class="fa fa-plus-square"></i>&nbsp;Start a new conversation</a>
    </div>
  </header>

  <div class="comments__listing">
    {{> molecules-single-conversation }}
  </div>

	<div class="comments__reply">
		<h2 class="heading--header">Start a Conversation</h2>
		{{> molecules-comment-form-user }}
	</div>

</section>
