	<div class="timeline">
		<div class="markers">
			<div class="timeline-item inactive">
				<div class="marker"></div>
				<div class="label">Proposals</div>
			</div>
			<div class="timeline-item inactive">
				<div class="marker"></div>
				<div class="label">Deliberation</div>
			</div>
			<div class="timeline-item active">
				<div class="marker"></div>
				<div class="label">Voting</div>
			</div>
			<div class="timeline-item future">
				<div class="marker"></div>
				<div class="label">Implementation</div>
			</div>
		</div>
	</div>
