<li class="panel comment-container">
	<div class="comment-meta">
		<p class="heading--header">
			Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a>
			{{> molecules-user-card }}
		</p>
	</div>
	<div class="comment-text">
		<h1 class="heading--title">Comment Subject</h1>
		<p>{{ description }}</p>
	</div>
	<div class="comment-voting">
		{{> molecules-temperature-check}}
	</div>
	<div class="comment-reply-controls">
		<a class="heading--subheader reply-count">2 Replies</a>
		<button class="small button reply">Reply</button>
	</div>
</li>
