<div class="search">
  <div clas="search__field_wrapper">
    <input class="search__field" type="text" placeholder="Search…">
    <a href="#">
      <span class="aria-hidden">{{>atoms-icon-search}}</span>
      <span class="screen-reader__label">Submit Search</span>
    </a>
  </div>
  <ul class="search_modes">
    <li class="sarch_mode__full_text"><a class="active" href="#">Proposals</a></li>
    <li class="sarch_mode__working_groups"><a href="#">Ideas</a></li>
  </ul>
</div>
