<div class="filters" data-available-themes="Landscaping,Provide Space,Quick Fixes,Schools,Traffic,Waterfront">

  <h4 class="widget__label">Filter by category</h3>

  {{>molecules-card-filter-selected-tags}}

  {{>atoms-button-add-filter}}

  <div class="modal-content" style="display:none">
    <header class="modal-header">
        <h2 class="modal__title">Select Categories to Add</h2>
    </header>
    <div class="modal-body">
      <fieldset>
        {{> molecules-card-filter-available-tags}}
      </fieldset>
      <fieldset>
        <a href="#" class="button__modal_submit">Apply Filters</a>
      </fieldset>
    </div>
  </div>


</div>
