%campaign_cards {

  @extend %clearfix;
  overflow: hidden;

  .list--proposals,
  .list--ideas {
    transition-property: width, left, margin-left;
    transition-duration: .325s;
    transition-timing-function: ease-out;
  }

  .list--proposals {
    float: left;
    width: 100%;
  }

  .list--ideas {
    position: relative;
    left: 100%;
    width: 40%;
    margin-left: 60%;
    background-color: $color__panel--lighter;
  }

  &.show-ideas {

    @extend %clearfix;

    .list--proposals {
      width: 60%;
      .card__proposal {
        @extend %grid__half_md;
      }
    }

    .list--ideas {
      margin-left: 60%;
      left: 0;
    }
  }

  .form__add_proposal {
    @extend %offscreen;
  }
}

.campaign_cards {
  @extend %campaign_cards;
}
