%appcivist {

  min-height: 100%;

  .appmain {
    padding-top: $nav__width;
    @media (min-width: $bp__md) {
      padding-top: 0;
      margin-left: $nav__width !important;
    }
  }
}

.page__contents {
  padding: 1.5 * $padding__base;
}

.appcivist {
  @extend %appcivist;
}
