<li class="panel comment-container">
	<div class="comment-meta">
		<p class="heading--header">
			Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a>
		{{> molecules-user-card}}
		<p>
	</div>
	<div class="comment-text">
		<small>{{ description }}</small>
	</div>
	<div class="comment-reply-controls">
		{{> molecules-voting-module }}
		<a class="heading--subheader reply-count">2 Replies</a>
		<a class="heading--subheader reply-count reply">Reply to this comment</a>
	</div>
</li>
