<ul class="tags">
  <li><a href="#">Landscaping</a></li>
  <li><a href="#">Provide Space</a></li>
  <li><a href="#">Quick Fixes</a></li>
  <li><a href="#">Schools</a></li>
  <li><a href="#">Traffic</a></li>
  <li><a href="#">Waterfront</a></li>
</ul>
