<fieldset class="add_proposal__availble_themes">
  <p clas="intro">Select categories to assign</p>
  <label class="add_proposal__categories_label">Select categories to assign</label>
  {{>molecules-card-filter-available-tags}}
</fieldset>
