<div class="filters" data-available-themes="Landscaping,Provide Space,Quick Fixes,Schools,Traffic,Waterfront">

  <h4 class="widget__label">Filter by category</h3>

  {{>molecules-card-filter-selected-tags}}

  {{>atoms-button-add-filter}}

  <div class="modal-content" style="display:none">
    <h2 class="modal__title">Select Categories to Add</h2>
    <div>
      {{>molecules-card-filter-available-tags}}
    </div>
    <a href="#" class="button">Apply Filters</a>
  </div>


</div>
