%navigation {

  @extend %card__shadow;

  z-index: $z__nav;
  background-color: $color__nav_bg;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition-property: width, max-height, height;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  float: left;

  width: 100%;
  max-height: $nav__width;

  .nav__container {
    position: relative;
  }

  .user__logged_in {
    @extend %avatar;
    @extend %user__logged_in;
    position: relative;
    top: 1.125 * $padding__base;
    float: right;
    margin-right: .75em;
  }

  .login_signup {
    @extend %login_signup;
  }
  
  .my_working_groups,
  .my_campaigns {
    display: none;
    white-space: nowrap;
    transition-property: height, width, max-height;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }

  .my_working_groups {
    padding-top: $padding__base;
    clear: both;
  }

  .nav_header {

    float: left;
    position: relative;
    top: $padding__base;
    color: $color__brand-dark;
    margin-left: 0.5em;

    h1 {
      font-size: $typography__title * 0.5;
    }

    h2 {
      font-size: $typography__subhead * .875;
    }
  }

  .section_header {
    font-size: $typography__subhead;
    padding-left: $padding__base;
  }

  .list__my_working_groups,
  .list__my_campaigns  {

    border-top: 1px $color__panel--light solid;
    width: 100%;
    clear: both;

    li {
      line-height: 1.2;
      border-bottom: 1px $color__panel--light solid;
      padding: 0;
      a {
        display: block;
        color: $color__brand-dark;
        padding: .25 * $padding__base;
        padding-left: $padding__base;
        padding-right: $padding__base;
        &:hover {
          color: $color__panel--light;
          background-color: $color__brand-dark;
        }
      }
    }

    margin-bottom: 1.5 * $padding__base;

  }

  .nav__footer {

    @extend %offscreen;
    max-width: 15em;

    .logo__wrapper {

      float: left;
      width: $padding__base;
      height: $padding__base;
      margin-right: .5em;
      top: 0;
      position: relative;

      .logo__svg {
        width: $padding__base;
        height: $padding__base;
        .svg__shape {
          fill: $color__brand-dark;
        }
      }
    }
  }
}


%navigation--active {

  max-height: 100%;
  width: 100%;

  .nav_header,
  .my_working_groups,
  .my_campaigns {
    display: block;
    max-height: 100%;
  }

  .my_working_groups,
  .my_campaigns {
    width: 100%;
  }

  .my_working_groups {
    border-top: 1px $color__brand-primary solid;
  }

  .nav__footer {
    @extend %onscreen;
    display: static;
    bottom: auto;
    margin-left: $padding__base;
    margin-bottom: 0.5 * $padding__base;
  }

  .powered_by {
    @extend %onscreen;
    display: block;
    width: auto;
  }
}

%navigation--md {

  @media (min-width: $bp__md ) {

    width: $nav__width;
    height: 100%;
    min-height: 100%;

    .nav_header {
      overflow: hidden;
      white-space: nowrap;
      float: none;
      margin-left: 0;
      margin-top: 0;
      padding-bottom: 2 * $padding__base;

      h1 {
        font-size: $typography__title * .875;
      }

      h2 {
        font-size: $typography__subhead;
      }
    }

    .nav_header,
    .my_working_groups,
    .my_campaigns {
      height: auto;
      max-height: 100%;
      width: 0;
    }

    .user__logged_in {
      float: none;
      margin-left: 0.875 * $padding__base;
      margin-bottom: 1.5 * $padding__base;
    }

    .nav__container {
      height: 100%;
    }

    .nav__footer {
      position: absolute;
      top: auto;
      bottom: 0.75 * $padding__base !important;
      left: 0;
      right: auto;
      margin-right: 0;
      padding: $padding__base;
      width: 100% !important;
      max-width: none !important;
    }

    .logo__wrapper {
      float: none;
    }

    .powered_by {
      margin-left: $padding__base;
      width: 0;
      overflow: hidden;
      white-space: nowrap !important;
    }
  }
}

%navigation--active--md {

  @media(min-width: $bp__md) {

    width: $nav__width--active;
    height: 100%;

    .my_working_groups,
    .my_campaigns {
      width: auto;
      max-height: 100%;
    }

    .my_working_groups {
      border-top: transparent;
    }

    .nav_header {
      margin-left: 0;
      width: $nav__width--active;
      padding-left: $padding__base;
      padding-right: $padding__base;
    }

    .nav__footer {
      @include clearfix;
      position: absolute;
      bottom: 0.75 * $padding__base !important;
      padding-bottom: 0 !important;
      margin-left: 0;
      margin-bottom: 0;
      top: auto;
    }

    .logo__wrapper {
      float: left;
    }

    .powered_by {
      width: auto;
      overflow: visible;
      margin-top: 0.325em;
    }
  }
}

.navigation {

  @extend %navigation;
  @extend %navigation--md;

  &.nav--active {
    @extend %navigation--active;
    @extend %navigation--active--md;
  }
}

.navigation-logged-in {
  @extend .navigation;
}
