<section class="proposals_and_ideas">

  <div class="campaign__filters">
    {{> molecules-campaign-search}}
    {{> molecules-campaign-filters}}
    {{> molecules-campaign-sort}}
  </div>

  <div class="campaign_cards">

    <section class="list--proposals">

      <header class="proposals__header">
        <h2 class="heading--header">Proposals</h2>
        <a class="proposals__see_all" href="{{link.templates-all-proposals-view}}">See All</a>
        <a class="proposals__add_new" href="#">Add New</a>
        <a class="proposals__show_ideas" href="#">Show Ideas</a>

        <div class="form__add_proposal">
          {{>organisms-modal-add-proposal}}
        </div>
      </header>

      <div class="list__cards container__proposals">
        {{# listItems.four }}
          {{> molecules-card-proposal}}
        {{/ listItems.four }}
        {{# listItems.seven }}
          {{> molecules-card-proposal}}
        {{/ listItems.seven }}
      </div>

    </section>

    <section class="list--ideas">

      <header class="ideas__header">
        <h2 class="heading--header">Ideas</h2>
        <a class="ideas__see_all" href="{{link.templates-all-proposals-view}}">See All</a>
        <a class="ideas__add_new" href="#">Add New</a>
        <a class="ideas__hide_ideas" href="#">Hide Ideas</a>
        <div class="form__add_idea">
          {{>organisms-modal-add-idea}}
        </div>
      </header>

      <div class="list__cards container__ideas">
        {{# listItems.seven}}
        {{> molecules-card-idea}}
        {{/ listItems.seven}}
        {{# listItems.four}}
        {{> molecules-card-idea}}
        {{/ listItems.four}}
      </div>

    </section>
  </div>
</section>
