<section class="list--proposals">

  <header class="proposals__header">
    <h2 class="heading--header">Proposals</h2>
    <a class="proposals__see_all" href="{{link.templates-all-proposals-view}}">See All</a>
    <a class="proposals__add_new" href="#">Add New</a>
    <a class="proposals__show_ideas" href="#">Show Ideas</a>

    <div class="form__add_proposal">
      {{>organisms-modal-add-proposal}}
    </div>
  </header>

  <div class="list__cards container__proposals" data-eq-pts="small: 768, medium: 1024, large: 1500">
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
    {{> molecules-card-proposal}}
  </div>

</section>
