<section class="proposals_and_ideas">

  <div class="campaign__filters">
    {{> molecules-campaign-search}}
    {{> molecules-campaign-filters}}
    {{> molecules-campaign-sort}}
  </div>

  <div class="campaign_cards">

    {{> organisms-proposal-cards}}
    {{> organisms-idea-cards}}

  </div>
</section>
