<section class="proposals__only">

  <div class="campaign__filters">
    {{> molecules-campaign-search}}
    {{> molecules-campaign-filters}}
    {{> molecules-campaign-sort}}
  </div>

  <div class="campaign_cards">
    {{> organisms-proposal-cards}}
  </div>

</section>
