<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>

    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

    <link rel="stylesheet" href="/js/vendor/vex/dist/css/vex.css" />
    <link rel="stylesheet" href="/js/vendor/vex/dist/css/vex-theme-plain.css" />

    <script src="/js/vendor/classList.js/classList.min.js"></script>
    <script src="/js/vendor/eq.js/build/eq.js"></script>
    <script src="/js/vendor/vex/dist/js/vex.js"></script>
    <script src="/js/vendor/chart.js/dist/Chart.js"></script>

    <script src="/js/appcivist_loading.js"></script>
    <script src="/js/appcivist_theme_widget.js"></script>
    <script src="/js/appcivist_contextual_menu.js"></script>
    <script src="/js/appcivist_popover.js"></script>
    <script src="/js/appcivist_consensus_chart.js"></script>
    <script src="/js/appcivist_consensus_widget.js"></script>
    <script src="/js/appcivist_temperature_check.js"></script>
    <script src="/js/appcivist_campaign.js"></script>
    <script src="/js/appcivist_wg.js"></script>
    <script src="/js/appcivist_proposal_single.js"></script>
    <script src="/js/appcivist_proposals_and_ideas.js"></script>
    <script src="/js/appcivist_navigation.js"></script>
    <script src="/js/appcivist_ui_core.js"></script>
    <script src="/js/vendor/pace/pace.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />

  </head>
  <body class="{{ bodyClass }}">

    <div class="appcivist">
