  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  
  </body>
  <script>
		document.onreadystatechange = function () {
			if (document.readyState === 'complete') {
				appcvui.initialize();
			}
		}
  </script>
</html>
